@import url('https://fonts.googleapis.com/css?family=Amiri:400,400i|Montserrat:400,600,900');

$font-logo: 'Montserrat', sans-serif;
$font-text: 'Amiri', serif;

$color-fantasy: #fefdfc;
$color-crimson: #da0d2b;

$text-color: $color-fantasy;
$cta-color:  $color-crimson;

h1,
h2,
h3, {
	color: $text-color;
	font-family: $font-logo;
	font-weight: 900;
}

h2 {
	font-size: 2rem;
}

a {
	color: $text-color;

	&:hover {
		color: $cta-color;
	}
}
