@import '../../node_modules/bulma/bulma.sass';
@import './global/typography';

body {
	background: hsl(213, 30%, 7%);
	color: $text-color;
	font-family: $font-text;
}

.intro {
	padding-top: 56px;
	text-align: center;
}

.description {
	font-style: italic;
}

